<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lego Collection</title>
  <link rel="stylesheet" href="/css/main.css" />
  <style>
    body {
      margin: 0;
      padding: 0;
      height: 100vh;
      display: flex;
      flex-direction: column;
    }

    .container {
      flex: 1; 
      overflow-y: auto;
    }
  </style>
</head>

<body tabindex="-1" class="background-fox">
   <%- include('partials/navbar', { page: "" }) %>

   <div class="container mx-auto">
     <div class="hero bg-base-10 rounded-lg px-1" style="margin-top: 20px; background-color: rgb(218, 81, 176);">
         <div class="hero-content text-center">
             <div class="max-w-md">
                 <h1 class="text-6xl font-bold" style="font-weight: bold; font-size: 25px; color: #111;"><%= set.name %></h1>
                 <p class="py-6 text-lg">
                     More information on the <%= set.name %>
                 </p>
             </div>
         </div>
     </div>
     <br />
 
     <div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-5">
       <div>
         <img src="<%= set.img_url %>" alt="<%= set.name %>" />
       </div>
       <div style="margin-top: 200px;">
         <p><strong style="font-weight: bold; color: #111;">Year:</strong> <%= set.year %></p><br/>
         <p><strong style="font-weight: bold; color: #111;">Theme:</strong> <%= set.theme_id %></p><br/>
         <p><strong style="font-weight: bold; color: #111;">Number of Parts:</strong> <%= set.num_parts %></p><br/>
         <br>
         <div id="quote">Loading quote...</div>
         <br>
         <a href="#" onclick="history.back(); return false;" class="btn btn-primary" style="background-color: rgb(128, 128, 240);">Return</a>
       </div>
     </div>
   </div>
   <script>
     document.addEventListener("DOMContentLoaded", () => {
       fetch("https://api.quotable.io/random")
         .then((response) => response.json())
         .then((data) => {
           const quoteElement = document.getElementById("quote");
           quoteElement.innerHTML = `"${data.content}" - ${data.author}`;
         })
         .catch((error) => console.error("Error fetching quote:", error));
     });
   </script>
</body>

</html>
